@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
	margin: 0;
	padding: 0;
}

/* Background-Image */

.home-container {
	background-image: url("Assets/Hero-bg.png");
	height: 698px;
	background-repeat: repeat-x;
	background-position: top center;
	background-color: #f5f8ff;
	text-align: center;
}


/* 1. Navigation-Bar-Start */

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 158px;
	padding: 50px 150px;
}

.logo-header {
	font-family: "Inter";
	font-weight: 900;
	color: #4e47ff;
	font-size: 34px;
}

button {
	font-family: "Raleway";
	font-weight: bold;
	border: none;
	background-color: #4e47ff;
	padding: 12px 36px;
	color: #fff;
	border-radius: 10px;
	font-size: 16px;
}

/* 2. Banner-Section-Start */

.banner {
	text-align: center;
	margin-bottom: 268px;
}

.banner-heading {
	font-family: "Raleway";
	font-weight: bold;
	color: #252432;
	font-size: 65px;
	margin-bottom: 37px;
}

/* 3. Action-Section-Start */

.action-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 116px;
	padding: 0 150px;
}

.action-section-title {
	font-family: "Raleway";
	font-weight: bold;
	color: #252432;
	font-size: 42px;
	margin-bottom: 23px;
}

.action-section-subtitle {
	font-family: "Raleway";
	color: #25243280;
	font-size: 24px;
	margin-bottom: 23px;
}

.wc-mini {
	width: 403px;
	height: 328px;
	border-radius: 48px;
}

/* 4. Productive-Users-Section-Start*/

.pro-users-section {
	background-color: #4e47ff19;
	padding: 50px 150px;
	text-align: center;
	border-radius: 24px;
	margin: 0 200px 137px;
}

.pro-users-flex {
	list-style-type: none;
	display: flex;
	justify-content: center;
	gap: 250px;
}

.pro-users-heading {
	font-family: "Raleway";
	font-size: 38px;
	font-weight: bold;
	color: #252432;
	margin-bottom: 40px;
}

.pro-users-digit {
	font-family: "Inter";
	font-weight: bold;
	font-size: 80px;
	color: #4e47ff;
}

.pro-users-text {
	font-family: "Inter";
	font-size: 20px;
	color: #00000080;
}

/* 5. Touch-Section-Start */

.touch-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 100px;
	margin: 0 150px 104px;
}

.touch-section-heading {
	font-family: "Raleway";
	font-size: 97px;
	font-weight: bold;
	color: #000;
}

label {
	font-family: "Inter";
	font-size: 18px;
	font-weight: 500;
	color: #000;
}

input,
textarea {
	font-family: "Inter";
	font-size: 20px;
	font-weight: normal;
	color: #00000080;
	width: 497px;
	height: 70px;
	border-radius: 10px;
	padding: 20px 271px 20px 32px;
	box-sizing: border-box;
	border: 1px solid #ddd;
	outline: 1px solid #ddd;
	margin-bottom: 19px;
}

textarea {
	width: 497px;
	height: 135px;
}

.form-internal-gap {
	margin-bottom: 19px;
}

.get-touch-button {
	width: 497px;
	height: 70px;
	border-radius: 10px;
}

/* 6. Footer-Section-Start */

.footer{
	text-align: center;
}

.footer-nav{
	display: flex;
	text-align: center;
	justify-content: center;
	list-style-type: none;
	gap: 38px;
	align-items: center;

}

.logo-footer{
	font-family: "Inter";
	font-weight: 900;
	font-size: 100px;
	color: #4e47ff;
	margin-bottom: 8px;
}

.footer-contact-us{
	font-family: "Raleway";
	color: #25243280;
	font-size: 16px;
	line-height: 1.4;
	margin-bottom: 20px;
}

.footer-nav{
	font-family: "Raleway";
	color: #25243280;
	font-size: 18px;
	padding-bottom: 100px;
}
