@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
	margin: 0;
	padding: 0;
}

/* Background-Image & Buttons Effect*/

.home-container {
	background-image: url("Assets/Hero-bg.png");
	height: 698px;
	background-repeat: repeat-x;
	background-position: top center;
	background-color: #f5f8ff;
	text-align: center;
}

button {
	font-family: "Raleway";
	font-weight: bold;
	border: none;
	background-color: #4e47ff;
	transition: transform 0.3s ease;
	padding: 12px 36px;
	color: #fff;
	border-radius: 10px;
	font-size: 16px;
	white-space: nowrap;
}

button:hover {
	font-weight: 900;
	background-color: orange;
	transform: scale(1.05);
	color: #252432;
}

button:active{
	font-weight: 900;
	background-color: #ddd;
	transform: scale(0.95);
	color: #252432;
}

/* 1. Navigation-Bar-Start */

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 158px;
	padding: 50px 150px;
}

.logo-header {
	font-family: "Inter";
	font-weight: 900;
	color: #4e47ff;
	font-size: 34px;
}

/* 2. Banner-Section-Start */

.banner {
	text-align: center;
	margin-bottom: 268px;
}

.banner-heading {
	font-family: "Raleway";
	font-weight: bold;
	color: #252432;
	font-size: 65px;
	margin-bottom: 37px;
	white-space: nowrap;
}

/* 3. Action-Section-Start */

.action-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 116px;
	padding: 0 150px;
	gap: 200px;
}

.action-section-title {
	font-family: "Raleway";
	font-weight: bold;
	color: #252432;
	font-size: 42px;
	margin-bottom: 23px;
	white-space: nowrap;
}

.action-section-subtitle {
	font-family: "Raleway";
	color: #25243280;
	font-size: 24px;
	margin-bottom: 23px;
	white-space: nowrap;
}

.wc-mini {
	width: 403px;
	height: 328px;
	border-radius: 48px;
}

/* 4. Productive-Users-Section-Start*/

.pro-users-section {
	background-color: #4e47ff19;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 50px;
	/* text-align: center; */
	border-radius: 24px;
	margin: 0 150px 140px;
	height: 200px;
	max-width: 1440px;
	min-width: 1000px;
}

.pro-users-flex {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 220px;
	padding: 0 200px;
}

.pro-users-heading {
	font-family: "Raleway";
	font-size: 38px;
	font-weight: bold;
	color: #252432;
	padding-bottom: 40px;
	white-space: nowrap;
}

.pro-users-digit {
	font-family: "Inter";
	font-weight: bold;
	font-size: 80px;
	color: #4e47ff;
}

.pro-users-text {
	font-family: "Inter";
	font-size: 20px;
	color: #00000080;
}

/* Review-Section */

.review-section {
	margin-bottom: 140px;
}

.review-section-heading {
	font-family: "Raleway";
	font-size: 42px;
	color: #252432;
	font-weight: bold;
	text-align: center;
	padding-bottom: 50px;
	white-space: nowrap;
}

.review-section-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 100px;
	gap: 30px;
}
.review {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	border-radius: 14px;
	border: 1px solid #ddd;
	outline: 1px solid #ddd;
	width: 320px;
	height: 200px;
	text-align: left;
	padding: 30px;
	justify-content: space-between;
}

.icon-star-flex {
	padding-bottom: 20px;
}

.review-title {
	font-family: "Inter";
	font-size: 24px;
	font-weight: 600;
	color: #252432;
	padding-bottom: 8px;
	white-space: nowrap;
}

.review-subtitle {
	font-family: "Inter";
	font-size: 16px;
	font-weight: normal;
	padding-bottom: 24px;
	white-space: nowrap;
}

.reviewer-details {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.reviewer-avatar {
	padding-right: 12px;
	border-radius: 50%;
}

.reviewer-name {
	font-family: "Inter";
	font-size: 16px;
	font-weight: 600;
	color: #757575;
	padding: 2px 0;
	white-space: nowrap;
}

.review-date {
	font-family: "Inter";
	font-size: 16px;
	font-weight: normal;
	color: #b3b3b3;
	white-space: nowrap;
}

/* 5. Touch-Section-Start */

.touch-section {
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
	gap: 100px;
	padding: 0 50px;
	margin: 0 150px 105px;
}

.touch-section-heading {
	font-family: "Raleway";
	font-size: 97px;
	font-weight: bold;
	color: #000;
	white-space: nowrap;
}

.form {
	text-align: left;
	display: flex;
	flex-direction: column;
}

label {
	font-family: "Inter";
	font-size: 18px;
	font-weight: 500;
	color: #000;
	margin-bottom: 10px;
}

input,
textarea {
	font-family: "Inter";
	font-size: 20px;
	font-weight: normal;
	color: #00000080;
	width: 497px;
	height: 70px;
	border-radius: 10px;
	padding: 20px 271px 20px 32px;
	box-sizing: border-box;
	border: 1px solid #ddd;
	outline: 1px solid #ddd;
	margin-bottom: 20px;
	white-space: nowrap;
}

textarea {
	width: 497px;
	height: 135px;
}

.get-touch-button {
	width: 497px;
	height: 70px;
	border-radius: 10px;
}

/* 6. Footer-Section-Start */

.footer {
	text-align: center;
}

.footer-nav {
	display: flex;
	text-align: center;
	justify-content: center;
	list-style-type: none;
	gap: 38px;
	align-items: center;
	font-family: "Raleway";
	color: #8987A1;
	font-size: 18px;
	padding-bottom: 100px;
	white-space: nowrap;
}

.logo-footer {
	font-family: "Inter";
	font-weight: 900;
	font-size: 100px;
	color: #4e47ff;
	margin-bottom: 8px;
	white-space: nowrap;
}

.footer-contact-us {
	font-family: "Raleway";
	color: #8987A1;
	font-size: 16px;
	line-height: 1.4;
	margin-bottom: 20px;
	white-space: nowrap;
}

a, a:link{
	text-decoration: none;
	color: #8987A1;
}

a:hover{
	color: orange;
}

a:active{
	color: #ddd;
}